<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Token" value="lR8E1WNAuORg20cNJMW4wJgz4Kem5k2q"/>
		<add key="TokenNumber" value="a6be685791882b7f2de23ff3f8ca7239"/>
		<add key="ApiEmailUrl" value="https://api.apilayer.com/email_verification/"/>
		<add key="ApiNumberUrl" value="http://apilayer.net/api/validate?access_key="/>
		<add key="ApiExchangeRatesDataUrl" value="https://api.apilayer.com/exchangerates_data/convert?to="/>
	</appSettings>
</configuration>