USE [master]
GO
/****** Object:  Database [Economy]    Script Date: 9/6/2022 3:06:15 PM ******/
CREATE DATABASE [Economy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Economy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Economy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Economy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Economy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Economy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Economy]
GO
/****** Object:  Table [dbo].[Annuity]    Script Date: 9/6/2022 3:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Annuity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NOT NULL,
	[initial] [int] NOT NULL,
	[end] [int] NOT NULL,
	[payment] [decimal](9, 2) NULL,
	[present] [decimal](18, 2) NULL,
	[future] [decimal](18, 2) NULL,
	[type] [varchar](50) NULL,
	[flowType] [varchar](50) NULL,
	[rate] [decimal](9, 2) NOT NULL,
	[totalPeriod] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK__Annuity__3213E83FF8CFE58F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interest]    Script Date: 9/6/2022 3:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NOT NULL,
	[initial] [int] NOT NULL,
	[end] [int] NOT NULL,
	[present] [decimal](18, 2) NULL,
	[future] [decimal](18, 2) NULL,
	[flowType] [varchar](50) NOT NULL,
	[rate] [decimal](9, 2) NOT NULL,
	[payment] [decimal](9, 2) NOT NULL,
	[totalPeriod] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK__Interest__3213E83F877940F9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 9/6/2022 3:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[creation] [date] NOT NULL,
	[type] [varchar](50) NULL,
	[path] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Serie]    Script Date: 9/6/2022 3:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Serie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NOT NULL,
	[initial] [int] NOT NULL,
	[end] [int] NOT NULL,
	[downPayment] [decimal](9, 2) NULL,
	[finalPayment] [decimal](9, 2) NULL,
	[quantity] [decimal](9, 2) NOT NULL,
	[present] [decimal](18, 2) NULL,
	[future] [decimal](18, 2) NULL,
	[type] [varchar](50) NULL,
	[flowType] [varchar](50) NULL,
	[rate] [decimal](9, 2) NOT NULL,
	[incremental] [bit] NOT NULL,
	[totalPeriod] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK__Serie__3213E83FE6372CD2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/6/2022 3:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[phone] [varchar](16) NULL,
	[email] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Annuity]  WITH CHECK ADD  CONSTRAINT [fk_projects] FOREIGN KEY([projectId])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[Annuity] CHECK CONSTRAINT [fk_projects]
GO
ALTER TABLE [dbo].[Interest]  WITH CHECK ADD  CONSTRAINT [fk_projectss] FOREIGN KEY([projectId])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[Interest] CHECK CONSTRAINT [fk_projectss]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [fk_user]
GO
ALTER TABLE [dbo].[Serie]  WITH CHECK ADD  CONSTRAINT [fk_project] FOREIGN KEY([projectId])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[Serie] CHECK CONSTRAINT [fk_project]
GO
USE [master]
GO
